<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/body.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/aside.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <script src="../javascript/login.js"></script>
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/styles2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
     --><title>Document</title>
</head>
<body>
    <header>
        <nav>
            <div class="hamburguer">
                <span>&#9776;</span>
            </div>
            <p id="title-header">TRACKGENIX</p>
            <div id="logos-header">
                <img src="../assets/twitter.png" alt="twiter logo">
                <img src="../assets/facebook.png" alt="facebook logo">
                <img src="../assets/instagram.png" alt="instagram logo">
                <img src="../assets/linkedin.png" alt="linkedin logo">
            </div>
        </nav>
    </header>
    <aside>
        <input type="search" placeholder="Search" class="search">
        <div class="menu-sidebar">
            <p id="menu">
                Menu
            </p>
            <a id="home" href="landing.html">home</a>
            <a id="singup" href="employee-signup.html">singup</a>
            <a id="login" href="login.html">login</a>
            <a id="contact" href="http://">contact info</a>
        </div>
        <article class="paragraph-sidebar">
            <p id="get">
                Get in touch
            </p>
            <p id="text-sidebar">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
            </p>
        </article>
        <div class="info">
            <img src="../assets/email.logo.png" alt="email logo">
            <a href=»trackgenix@gigatech.com»>trackgenix@gigatech.com</a>
            <img src="../assets/phone-icon.png" alt="phone logo"><a href="tel:858652585">+59899123456</a>
            <img src="../assets/addresse-icon.png" alt="addresse logo">Av. Montevideo 1234, 11200
        </div>
    </aside>
    <main>
        <div class="login-square">
            <h1>Login</h1>
            <form>
                <fieldset class="email">
                    <div class="col-25">
                        <label for="email">Email</label> 
                    </div>
                    <div class="col-75">
                        <input type="text" name="email" id="email">
                    </div>
                    <span id="check1"></span>
                </fieldset>
                <fieldset class="password">
                    <div class="col-25">
                        <label for="password">Password</label>
                    </div>
                    <div class="col-75">
                        <input type="text" name="password" id="pass">
                    </div>
                    <span id="check2"></span>
                </fieldset>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
                <span class="psw">Forgot <a href="#">password?</a></span>
                <button type="submit" id="login-button">Login</button>
            </form>
        </div>
    </main>
    <footer>
        <p>
            © 2022, Trackgenix
        </p>
        <div class="footer-logo">
            <img src="../assets/twitter-logo.png" alt="twiter logo" class="logo-f">
            <img src="../assets/facebook-logo.png" alt="facebook logo" class="logo-f">
            <img src="../assets/instagram-logo.png" alt="instagram logo" class="logo-f">
            <img src="../assets/linkedin-logo.png" alt="linkedin logo" class="logo-f">
            <img src="../assets/github-logo.png" alt="github logo" class="logo-f">
        </div>
    </footer>
</body>
</html>