header {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100px;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    background-color: #373867;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: white;
}

#title-header {
    text-align: center;
    color: white;
}

#logos-header {
    display: inline-block;

}

.hamburguer {
    color: white;
}