header { 
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    background-color: #373867;
}
aside {
    position: fixed;
    width: 16%;
    height: 100%;
    top: 100px;
    left: 0px;
    z-index: 1;
    background-color: #373867;
}
main {
    display: inline-block;
    z-index: -2;
    margin-top: 110px;
    margin-left: 16.1%;
}
h1 {
    position: absolute;
    display: inline-block;
    width: 30%;
    left: 50px;
    top: 150px;
    font-family: 'Roboto', sans-serif;
}
#title-header {
    position: relative;
    margin-top: 35px;
    text-align: center;
    color: white;
}
#logos-header {
    position: fixed;
    display: inline-block;
    right: 40px;
    top: 35px;
}
.hamburguer {
    position: fixed;
    margin: 10px;
    top: 20px;
    left: 16%;
    color: white;
}
#header-line {
    position: fixed;
    width: 82%;
    top: 70px;
    left: 16%;
    border-width: 1px;
    border-style: solid;
    border-color: white;
}
#search {
    position: fixed;
    display: inline-block;
    top: 40px;
    margin-left: 35px;
    font-family: 'Roboto', sans-serif;
}
#menu {
    position: fixed;
    display: inline-block;  
    width: 200px;
    border-style: solid;
    border-width: 1px;
    margin-top: 10px;
    margin-left: 25px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    color: white;
}
#home {
    position: fixed;
    display: inline-block;
    width: 200px;
    border-style: solid;
    border-width: 1px;
    margin-top: 50px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-left: 25px;
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    color: white;
}
#singup {
    position: fixed;
    display: inline-block;
    width: 200px;
    border-style: solid;
    border-width: 1px;
    margin-left: 25px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-top: 90px;
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    color: white;
}
#login {
    position: fixed;
    display: inline-block;
    width: 200px;
    border-style: solid;
    border-width: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-top: 130px;
    margin-left: 25px;
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    color: white;
}
#contact {
    position: fixed;
    display: inline-block;
    width: 200px;
    border-style: solid;
    border-width: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-top: 170px;
    margin-left: 25px;
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    color: white;
}
#get {
    position: fixed;
    display: inline-block;
    width: 200px;
    border-style: solid;
    border-width: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-top: 330px;
    margin-left: 25px;
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    color: white;
}
#text-sidebar {
    position: fixed;
    display: inline-block;
    width: 230px;
    margin-top: 370px;
    margin-left: 25px;
    font-family: 'Roboto', sans-serif;
    color: white;
}
#info {
    position: fixed;
    display: inline-block;
    width: 230px;
    margin-top: 670px;
    margin-left: 25px;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.trackgenix {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    right: 10px;
    font-family: 'Roboto', sans-serif;
}
#first-paragraph {
    position: absolute;
    display: inline-block;
    width: 40%;
    margin-bottom: 50px;
    margin-left: 50px;
    bottom: 200px;
}
#first-img{
    position: relative;
    display: inline-block;
    width: 650px;
    height: 500px;
    margin-left: 800px;
}
#learn-more {
    position: relative;
    left: 50px;
    bottom: 180px;
}
.functionalities {
    margin: 50px;
    text-align: justify;
}
.two-two {
    display: inline-block;
    width: 45%;
    margin: 30px;
}
.functionalities-logo {
    width: 130px;
    height: 130px;
}
.text-twotwo {
    display: inline-block;
    width: 60%;
    margin: 10px;
}
.why-trackgenix {
    margin: 50px;
}
#why-tittle {
    position: absolute;
    margin-top: 400px;
    margin-left: 550px;
}
#second-img {
    position: relative;
    display: inline-block;
    width: 30%;
    margin-top: 70px;
    margin-bottom: 60px;
    margin-left: 60px;
    border-style: solid;
    border-right-width: 3px;
    padding-right: 280px;
    z-index: -1;
}
.vertical {
    position: relative;
    display: inline-block;
    width: 50%;
    margin: 30px;
    top: -790px;
    right: -100px;
    margin-left: 770px;
}
.text-vertical {
    display: inline-block;
    width: 60%;
    margin: 10px;
}
.hear {
    position: relative;
    bottom: 700px;
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
}
.hear-element1 {
    position: relative;
    display: inline-block;
    width: 40%;
    padding-left: 100px;
    text-align: center;;
}
.hear-element2 {
    position: absolute;
    display: inline-block;
    width: 40%;
    height: 350px;
    margin: 3opx;
    right: 115px;
    border-style: solid;
    border-width: 3px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    text-align: center;
}
#name-form {
    display: inline-block;
    width: 70%;
    padding-right: 50px;
    margin-bottom: 10px;
}
#email-form {
    display: inline-block;
    width: 70%;
    padding-right: 50px;
    margin-bottom: 10px;
}
#radio {
    display: inline-block;
    width: 70%;
    padding-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
}
#message-form {
    display: inline-block;
    width: 70%;
    padding-bottom: 50px;
    padding-right: 50px;
    margin-top: 10px;
}
.about-us {
    position: relative;
    display: inline-block;
    margin: 50px;
    bottom: 700px;
    font-family: 'Roboto', sans-serif;
}
#mision-paragraph {
    position: absolute;
    display: inline-block;
    width: 60%;
    margin-left: 570px;
    margin-top: 150px;
    float: right;
}
#mision-img {
    position: relative;
    display: inline-block;
    width: 30%;
    margin-left: 30px;
    margin-top: 50px;

}
#history-paragraph {
    position: relative;
    display: inline-block;
    width: 60%;
    margin-left: 30px;
    margin-top: 90px;
    margin-right: 90px;
    float: left;
}
#history-img {
    position: absolute;
    display: inline-block;
    width: 30%;
}
#our-mision {
    position: absolute;
    display: inline-block;
    width: 900px;
    border-style: solid;
    border-width: 3px;
    margin-top: 110px;
    margin-left: 570px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding-bottom: 5px;
    color: black;
}
#our-history {
    position: absolute;
    display: inline-block;
    width: 900px;
    border-style: solid;
    border-width: 3px;
    margin-top: 50px;
    margin-left: 30px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding-bottom: 5px;
    color: black;
}
.final {
    position: relative;
    width: 78%;
    height: 500px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    bottom: 430px;
    padding: 130px;
    font-family: 'Roboto', sans-serif;
    background-color: gray;
}
#o-list {
    position: relative;
    display: inline-block;
    width: 10%;
    margin-right: 30px;
    margin-top: 30px;
    float: right;
}
footer {
    position: relative;
    display: inline-block;
    width: 70%;
    left: 22%;
    bottom: 600px;
    border-style: solid;
    border-width: 30px;
    padding-bottom: 5px;
    color: black; 
}
.footer-logo {
    position: relative;
    float: right;
    bottom: 40px;
    height: 30px;
    width: 200px;
    padding-left: 1135px;
    padding-bottom: 15px;
    border-style: solid;
    border-width: 3px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    color: black; 
}